@media (min-width: 87em) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 47%;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 59em) {
  .about {
    justify-content: space-between;
  }

  .stories-content {
    justify-content: center;
    gap: 2.4rem;
  }

  header {
    position: relative;
  }

  .mobile-nav {
    display: block;
  }

  .nav-bar {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.93);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;

    /* 1. Opacity: 0  */
    opacity: 0;
    /*  2. Set Mouse and keyboard events to none */
    pointer-events: none;

    /* 3. Hide element from screen reader */
    visibility: hidden;

    /* display: none; */

    z-index: 10;
  }

  .open-nav .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0%;
  }

  .open-nav .mobile-nav {
    position: fixed;
    right: 0;
    z-index: 99999;
  }

  .open-nav ion-icon[name="close-outline"] {
    display: block;
  }

  .open-nav ion-icon[name="menu-outline"] {
    display: none;
    z-index: 99999;
  }

  .nav-bar .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 2.4rem;
  }

  .nav-bar .btn-nav {
    font-size: inherit;
  }
}

@media (max-width: 56em) {
  .pro {
    grid-template-columns: 1.3fr 1.7fr 1.3fr;
    column-gap: 2.4rem;
  }

  .stories-content h2 {
    line-height: 1.5;
    font-size: 3rem;
  }

  .stories-desc {
    letter-spacing: 0.5px;
  }
}

@media (max-width: 46em) {
  .hero-section {
    height: 80vh;
  }

  .search-term {
    width: 400px;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 9.6rem;
  }

  .destination {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }

  .stories-img {
    gap: 4.8rem;
  }

  .stories {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
  }

  .stories img {
    width: 90%;
  }

  .stories-content {
    justify-content: center;
    gap: 3.2rem;
  }

  .stories-content h2 {
    font-size: 2.4rem;
  }

  .pro {
    grid-template-columns: 1fr;
    row-gap: 6.4rem;

    font-size: 1rem;
  }

  .first-pro {
    grid-row: 3;
  }

  .button-pro {
    width: 35%;
    margin-top: 4.8rem;
  }
}

@media (max-width: 32em) {
  .search-term {
    width: 300px;
  }

  .primary-heading {
    font-size: 3rem;
  }

  ::placeholder {
    font-size: 1.2rem;
  }

  .btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
  }

  .button-pro {
    width: 45%;
  }

  .stories-img {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 6.4rem;
  }
}
