@media (min-width: 87em) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 82em) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 79em) {
  .mobile-nav {
    display: none;
  }

  .stories-img {
    gap: 2.4rem;
  }
}

@media (max-width: 76em) {
  html {
    font-size: 47%;
  }

  .mobile-nav {
    display: none;
  }

  .stories {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
  }

  .stories img {
    width: 90%;
  }

  .stories-content {
    gap: 6.4rem;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .stories-desc {
    font-size: 1.8rem;
  }

  .btn {
    padding: 1.6rem 2.4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 59em) {
  .about {
    justify-content: space-between;
  }

  header {
    position: relative;
  }

  .mobile-nav {
    display: block;
  }

  .nav-bar {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.93);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;

    z-index: 10;
  }

  .open-nav .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0%;
  }

  .open-nav .mobile-nav {
    position: fixed;
    right: 0;
    z-index: 99999;
  }

  .open-nav ion-icon[name="close-outline"] {
    display: block;
  }

  .open-nav ion-icon[name="menu-outline"] {
    display: none;
    z-index: 99999;
  }

  .nav-bar .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 2.4rem;
  }

  .nav-bar .btn-nav {
    font-size: inherit;
  }
}

@media (max-width: 57em) {
  .hero-section {
    height: 80vh;
  }

  .search-term {
    width: 450px;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .mt-lg {
    margin-top: 6.4rem;
  }

  .pro {
    grid-template-columns: 1fr;
    row-gap: 6.4rem;

    font-size: 1rem;
  }

  .first-pro {
    grid-row: 3;
  }

  .button-pro {
    width: 35%;
    margin-top: 4.8rem;
  }

  .copyright {
    font-size: 1.8rem;
    margin: 8rem 0 4.8rem 0;
  }
}

@media (max-width: 52em) {
  .destination {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }

  .stories-img {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 6.4rem;
  }

  .stories-content {
    gap: 4.8rem;
  }

  .secondary-heading {
    font-size: 3.2rem;
  }

  .stories-desc {
    font-size: 2rem;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 9.6rem;
  }
}

@media (max-width: 50em) {
  .hero-section {
    height: 60vh;
  }

  .search-term {
    width: 400px;
  }
}

@media (max-width: 32em) {
  .hero-section {
    height: 50vh;
  }

  .button-pro {
    width: 45%;
  }

  .nav-footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8rem;
  }

  .move-up {
    position: absolute;
    bottom: 8rem;
    right: 0.4rem;
  }
}

@media (max-width: 27em) {
  .hero-section {
    height: 40vh;
  }

  .primary-heading {
    font-size: 3rem;
  }

  .search-term {
    width: 285px;
    padding: 1.6rem 4.8rem;
  }

  .search-outline {
    font-size: 1.6rem;

    position: absolute;
    left: 1.2rem;
    top: 1.8rem;
  }

  .arrow-circle {
    font-size: 3rem;

    right: 0.8rem;
    top: 1.2rem;
  }

  .about {
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    font-size: 1.4rem;
  }

  .about-content p {
    font-size: 1.2rem;
  }

  .destination {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.8rem;
  }

  .view-link {
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
  }

  .stories {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.2rem;
  }

  .first-stories {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .secondary-heading {
    font-size: 3rem;
  }

  .stories-desc {
    font-size: 1.6rem;
  }


  .button-pro {
    width: 70%;
  }
}
